<div class="booking-table">
  <div style="text-align: center; color: #cda45e;">
    <h1>Danh sách bàn</h1>
  </div>
  <div class="container">
    <div class="row">
      <div id="icon-fork-knife-solid" class="wrap-icon with-top-tag col-2 mt-4">
        <button class="icon subtle" style="height: 100px; width: 100%; color: #fff; background: forestgreen;" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div>
            <i class="fa-solid fa-utensils" style="font-size: 30px;
            color: white;"></i>
          </div>
          <span class="icon-name">Bàn 1</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title color-text" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label color-text">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label color-text">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
